/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
}

.logo {
	margin-bottom: 10px;
}

.form h2 {
	text-transform: uppercase;
	font-weight: 400;
	color: grey;
}

.form form p {
	display: flex;
	align-items: center;
	padding: 10px 10px;
	border-bottom: 1px solid rgb(163, 163, 163);
}

#desc {
	padding: 5px;
	border-bottom: 3px solid rgb(163, 163, 163);
}

input[type="checkbox"] {
	margin-right: 5px;
}

button {
	width: 100%;
	background-color: rgb(85, 178, 253);
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	margin: 5px 0px;
}

button:active {
	background-color: red;
}
